*{
    font-family: Arial ;
}

.highlight {
    background-color:#ee3;
  }

.bold{
    font-weight: bold;
}

.main_title{
    text-align: center;
}
.link{
    padding: 1em ;
    text-align: center;
}

.square{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    width: 23%;
    background-color: rgb(253, 235, 253);
    border-style: solid;
    border-color: rgb(255, 159, 255);
}

.list{
    margin: middle;
    padding: 0em 1em 2.5em 3.5em;
}

.in_title{
    margin: middle;
    padding: 2em;
    padding: 2em 1em 1em 1em;
    font-size: 1.2em;

    /* haut | droit | bas | gauche */
}